@{
    ViewData["Title"] = "Forgot Password";
}

<h2 class="text-center mb-4">Forgot Password</h2>

<form asp-action="ForgotPassword" method="post" class="w-50 mx-auto shadow p-4 bg-white rounded">
    <div class="form-group mb-3">
        <label>Enter your registered email</label>
        <input name="email" type="email" class="form-control" required />
    </div>

    @if (ViewBag.Error != null)
    {
        <div class="text-danger text-center">@ViewBag.Error</div>
    }

    <button class="btn btn-primary w-100">Next</button>
</form>
