@{
    ViewData["Title"] = "Reset Password";
    string email = ViewBag.Email as string;
}

<h2 class="text-center mb-4">Reset Your Password</h2>

<form asp-action="ResetPassword" method="post" class="w-50 mx-auto shadow p-4 bg-white rounded">
    <input type="hidden" name="email" value="@email" />

    <div class="form-group mb-3">
        <label>New Password</label>
        <input name="newPassword" type="password" class="form-control" required />
    </div>

    <button class="btn btn-success w-100">Reset Password</button>
</form>
